.menu{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
.item{
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 0px 10px;
    border-bottom: 2px solid transparent;
    transition: all 0.2s;
    
}
.item:hover{
    border-bottom: 2px solid #ffbf00;

}